$white: #ffffff;
$tags: #A0A0A0;
$black: #2C2C2C;
$dark: #000000; 
$buttons: #00BEFD;
$buttons2: #5fd7ff;
$purble: #4B0082;
$smothGrey: #808080;
$darkPurble: #330058;
$softPink: #FF6161;
$softGrey:#B1B1B1;
$whiteGrey: #B6B6B6;
$softSilver: #F0F0F0;